# ignore IntelliJ project files the are not user specific
/*.iml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/misc.xml
dataSources.ids
datasources.xml

/.gradle
/out
*/out
/build
*/build
*/*/build
/.kotlintest
*/.kotlintest
.attach_pid*
