@import "variables";

.segment-stack {

  > div > .segment {
    padding: 0;
  }

  .segment {

    .ui.container {
      padding: 60px @segment-side-padding;
    }

    &.attach-top {
      .ui.container {
        padding-top: 0;
      }
    }

    &.attach-bottom {
      .ui.container {
        padding-bottom: 0;
      }
    }
  }
}

#pull-down {
  margin-top: 6rem;
}

