
.segment-stack .divider-element {

  & > .segment {

    & > .one {
      height: 10em;
    }

    & > .two {
      height: 20em;
    }

    & > .three {
      height: 30em;
    }

    & > .four {
      height: 40em;
    }
  }
}
