
.segment-stack .header-element {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6em;

  z-index: 10000;
  background-color: white;

  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.33);

  .ui.container {
    padding: 0;
  }

  .ui.grid {
    .ui.column {
      // vertically centering everything
      margin: auto;

      .ui.item {
        margin-left: 30px;
      }

      .ui.button {
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  #main-menu {
    a {
      font-size: 1.3em;
    }
  }

  .the-base-logo {
    font-family: FoundersGroteskX, sans-serif;
    font-size: 4em;
    line-height: 1.2em;
  }
}
