@import "slick.less";

.segment-stack .hero-element {

  h1.ui.header {
    font-family: FoundersGroteskX, sans-serif;
    font-size: 12em;
    line-height: 0.8em;
    text-transform: uppercase;
    padding-top: 9px;
  }

  .ui.text {
    padding-top: 1em;
    font-family: DomainDisplay, sans-serif;
    font-size: 2em;
  }

  .ui.container {

    padding: 30px 0;

    .image-container {
      max-height: 72vh;
      margin: auto;
      //overflow: hidden;
      vertical-align: middle;

      .slick-dots {
        .slick-dots();
        position: relative;
        z-index: 1000;
        bottom: 50px;
      }

      .slick-track {
        height: 72vh; // ← that must not be ignored
        vertical-align: middle;

        img {
          display: inline-block;
          height: 100%;
        }
      }
    }
  }
}
