@import "slick.less";

.segment-stack .hero-element {

  position: relative;

  div.pattern-001 {
    background: url("/assets/images/pattern001.svg");
  }

  div.pattern-002 {
    background: url("/assets/images/pattern002.svg");
  }

  div.pattern-003 {
    background: url("/assets/images/pattern003.svg");
  }

  div.pattern {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
  }

  h1.ui.header {
    padding-top: 2px;
  }

  .ui.text {
    padding-top: 1em;
    font-family: DomainDisplay, sans-serif;
  }

  .ui.container {

    padding: 30px 0;

    .image-container {
      max-height: 72vh;
      margin: auto;
      //overflow: hidden;
      vertical-align: middle;

      .slick-dots {
        .slick-dots();
        position: relative;
        z-index: 1000;
        bottom: 50px;
      }

      .slick-track {
        height: 72vh; // ← that must not be ignored
        vertical-align: middle;

        img {
          display: inline-block;
          height: 100%;
        }
      }
    }
  }
}
