@font-face {
    font-family: DomainDisplay;
    src: url("../fonts/DomaineDisplay-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: FoundersGroteskX;
    src: url("../fonts/test/founders-grotesk-x-condensed-test-regular.woff") format("woff");
    font-weight: normal;
}

body {
    font-family: DomainDisplay, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;

    z-index: 1000;
    background-color: white;

    border-bottom: 1px solid grey;
}

#header > .grid {
    padding: 0 5%;
}

#header .the-base-logo {
    font-family: FoundersGroteskX, sans-serif;
    font-size: 3.3em;
}

#pull-down {
    margin-top: 7rem;
}

div.ui.button, button.ui.button {
    font-family: FoundersGroteskX, sans-serif;
    text-transform: uppercase;
}

.segment-stack > .ui.segment {
    margin: 0;
}

.hero-element > .segment {
    height: 80vh;
}

.hero-element h1.ui.header {
    font-size: 6em;
    text-transform: uppercase;
}

.hero-element h3.ui.header {
    font-family: DomainDisplay, sans-serif;
}

.hero-element .grid, .hero-element .grid .ui.column {
    height: 100%;
}

.hero-element .image-container, .hero-element .image-container .slick-list {
    height: 100%;
}

.hero-element img {
    height: 100%
}

.divider-element > .segment,
.gallery-element > .segment,
.list-element > .segment,
.text-element > .segment,
.text-image-element > .segment {
    padding: 50px 8%;
}

.text-element p {
    font-size: 2em;
}

.text-image-element img {
    width: 100%
}

.gallery-element .item img {
    width: 100%;
}

.gallery-element.SideBySideSlider > .segment {
    margin: 0 -25% 0 -25%;
}

.gallery-element.SideBySideSlider .item {
    padding: 0 10px;
}

.divider-element > .segment > div.one {
    height: 3em;
}

.divider-element > .segment > div.two {
    height: 6em;
}

.divider-element > .segment > div.three {
    height: 9em;
}

.divider-element > .segment > div.four {
    height: 12em;
}
