@font-face {
    font-family: DomainDisplay;
    src: url("../fonts/DomaineDisplay-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: FoundersGroteskX;
    src: url("../fonts/test/founders-grotesk-x-condensed-test-regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: FoundersGroteskX;
    src: url("../fonts/test/founders-grotesk-x-condensed-test-semibold.woff") format("woff");
    font-weight: bold;
}

body {
    font-family: DomainDisplay, sans-serif;
}
