.insights-bar {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    width: 100%;
    padding: 5px;
}

.insights-bar > .ui.segment {
    padding: 0;
}

.insights-bar .ui.horizontal.list > .item > .icon {
    padding-right: 18px;
    font-size: 1em;
}

.insights-bar .ui.horizontal.list > .item > .icon.tv {
    padding-right: 22px;
}
